<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 一个namespace对应一个Mapper类（原来的dao） -->
<mapper namespace="com.langtuo.teamachine.dao.mapper.device.AndroidAppDispatchMapper">
    <resultMap type="com.langtuo.teamachine.dao.po.device.AndroidAppDispatchPO" id="androidAppDispatchPOMap">
        <result property="id" column="id"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="tenantCode" column="tenant_code"/>
        <result property="version" column="version"/>
        <result property="machineGroupCode" column="machine_group_code"/>
    </resultMap>

    <select id="selectOne" resultMap="androidAppDispatchPOMap">
        SELECT * FROM android_app_dispatch
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            <if test="version != null">
                AND version = #{version}
            </if>
            <if test="machineGroupCode != null">
                AND machine_group_code = #{machineGroupCode}
            </if>
    </select>

    <select id="selectListByVersion" resultMap="androidAppDispatchPOMap">
        SELECT * FROM android_app_dispatch
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            <if test="version != null">
                AND version = #{version}
            </if>
    </select>

    <select id="selectListByShopGroupCode" resultMap="androidAppDispatchPOMap">
        SELECT * FROM android_app_dispatch
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            <if test="machineGroupCode != null">
                AND machine_group_code = #{machineGroupCode}
            </if>
    </select>

    <insert id="insert" parameterType="com.langtuo.teamachine.dao.po.device.AndroidAppDispatchPO">
        INSERT INTO android_app_dispatch (
            gmt_created
            , gmt_modified
            , tenant_code
            , version
            , machine_group_code

        ) VALUES (
            now()
            , now()
            , #{tenantCode}
            , #{version}
            , #{machineGroupCode}
        )
    </insert>

    <delete id="delete">
        DELETE FROM android_app_dispatch
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            AND version = #{version}
    </delete>
</mapper>