<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 一个namespace对应一个Mapper类（原来的dao） -->
<mapper namespace="com.langtuo.teamachine.dao.mapper.device.MachineMapper">
    <resultMap type="com.langtuo.teamachine.dao.po.device.MachinePO" id="machinePOMap">
        <result property="id" column="id"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="tenantCode" column="tenant_code"/>
        <result property="extraInfo" column="extra_info" typeHandler="com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler" jdbcType="VARCHAR" />
        <result property="machineCode" column="machine_code"/>
        <result property="machineGroupCode" column="machine_group_code"/>
        <result property="machineName" column="machine_name"/>
        <result property="state" column="state"/>
        <result property="onlineState" column="online_state"/>
    </resultMap>

    <select id="selectOne" resultMap="machinePOMap">
        SELECT * FROM machine
        WHERE 1 = 1
            <if test="tenantCode != null">
                AND tenant_code = #{tenantCode}
            </if>
            <if test="machineCode != null">
                AND machine_code = #{machineCode}
            </if>
    </select>

    <select id="selectList" resultMap="machinePOMap">
        SELECT * FROM machine
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            <if test="machineGroupCode != null">
                AND machine_group_code = #{machineGroupCode}
            </if>
    </select>

    <select id="search" resultMap="machinePOMap">
        SELECT * FROM machine
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            <if test="machineCode != null">
                AND machine_code = #{machineCode}
            </if>
            <if test="machineGroupCodeList != null and machineGroupCodeList.size() > 0">
                AND machine_group_code IN
                <foreach item="machineGroupCode" collection="machineGroupCodeList" open="(" separator="," close=")">
                    #{machineGroupCode}
                </foreach>
            </if>
    </select>

    <insert id="insert" parameterType="com.langtuo.teamachine.dao.po.device.MachinePO">
        INSERT INTO machine (
            gmt_created
            , gmt_modified
            , tenant_code
            , extra_info
            , machine_code
            , machine_group_code
            , machine_name
            , state
            , online_state
        ) VALUES (
            now()
            , now()
            , #{tenantCode}
            , #{extraInfo, jdbcType=VARCHAR, typeHandler=com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler}
            , #{machineCode}
            , #{machineGroupCode}
            , #{machineName}
            , #{state}
            , #{onlineState}
        )
    </insert>

    <update id="update" parameterType="com.langtuo.teamachine.dao.po.device.MachinePO">
        UPDATE machine
        SET
            gmt_modified = now()
            <if test="extraInfo != null">
                , extra_info = #{extraInfo, jdbcType=VARCHAR, typeHandler=com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler}
            </if>
            <if test="machineGroupCode != null">
                , machine_group_code = #{machineGroupCode}
            </if>
            <if test="machineName != null">
                , machine_name = #{machineName}
            </if>
            <if test="state != null">
                , state = #{state}
            </if>
            <if test="onlineState != null">
                , online_state = #{onlineState}
            </if>
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            AND machine_code = #{machineCode}
    </update>

    <update id="updateOnlineStateByMachineCode">
        UPDATE machine
        SET
            gmt_modified = now()
            <if test="onlineState != null">
                , online_state = #{onlineState}
            </if>
        WHERE 1 = 1
            AND machine_code = #{machineCode}
    </update>

    <delete id="delete">
        DELETE FROM machine
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            AND machine_code = #{machineCode}
    </delete>
</mapper>