<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 一个namespace对应一个Mapper类（原来的dao） -->
<mapper namespace="com.langtuo.teamachine.dao.mapper.rule.DrainRuleExceptNewMapper">
    <resultMap type="com.langtuo.teamachine.dao.po.rule.DrainRuleExceptPO" id="drainRuleExceptPOMap">
        <result property="id" column="id"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="drainRuleCode" column="drain_rule_code"/>
        <result property="exceptToppingCode" column="except_topping_code"/>
        <result property="tenantCode" column="tenant_code"/>
    </resultMap>

    <select id="selectList" resultMap="drainRuleExceptPOMap">
        SELECT * FROM drain_rule_except
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            AND drain_rule_code = #{drainRuleCode}
    </select>

    <insert id="insertBatch">
        INSERT INTO drain_rule_except (
        gmt_created
        , gmt_modified
        , drain_rule_code
        , except_topping_code
        , tenant_code
        ) VALUES
        <foreach collection="poList" item="po" index="index" separator=",">
            (
                now()
                , now()
                , #{po.drainRuleCode}
                , #{po.exceptToppingCode}
                , #{po.tenantCode}
            )
        </foreach>
    </insert>

    <delete id="delete">
        DELETE FROM drain_rule_except
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            AND drain_rule_code = #{drainRuleCode}
    </delete>
</mapper>