<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 一个namespace对应一个Mapper类（原来的dao） -->
<mapper namespace="com.langtuo.teamachine.dao.mapper.user.AdminMapper">
    <resultMap type="com.langtuo.teamachine.dao.po.user.AdminPO" id="adminPOMap">
        <result property="id" column="id"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="tenantCode" column="tenant_code"/>
        <result property="extraInfo" column="extra_info" typeHandler="com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler" jdbcType="VARCHAR" />
        <result property="comment" column="comment"/>
        <result property="loginName" column="login_name"/>
        <result property="loginPass" column="login_pass"/>
    </resultMap>

    <select id="selectOne" resultMap="adminPOMap">
        SELECT * FROM admin
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            <if test="loginName != null">
                AND login_name = #{loginName}
            </if>
    </select>

    <select id="selectList" resultMap="adminPOMap">
        SELECT * FROM admin
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
    </select>

    <select id="search" resultMap="adminPOMap">
        SELECT * FROM admin
        WHERE 1 = 1
            AND tenant_code = #{tenantCode}
            <if test="loginName != null">
                AND login_name = #{loginName}
            </if>
    </select>

    <insert id="insert" parameterType="com.langtuo.teamachine.dao.po.user.AdminPO">
        INSERT INTO admin (
            gmt_created
            , gmt_modified
            , tenant_code
            , extra_info
            , comment
            , login_name
            , login_pass
        ) VALUES (
            now()
            , now()
            , #{tenantCode}
            , #{extraInfo, jdbcType=VARCHAR, typeHandler=com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler}
            , #{comment}
            , #{loginName}
            , #{loginPass}
        )
    </insert>

    <update id="update" parameterType="com.langtuo.teamachine.dao.po.user.AdminPO">
        UPDATE admin
        SET
            gmt_modified = now()
            <if test="extraInfo != null">
                , extra_info = #{extraInfo, jdbcType=VARCHAR, typeHandler=com.langtuo.teamachine.dao.typehandler.MapStringTypeHandler}
            </if>
            <if test="comment != null">
                , comment = #{comment}
            </if>
            <if test="loginPass != null">
                , login_pass = #{loginPass}
            </if>
        WHERE 1 = 1
            and tenant_code = #{tenantCode}
            and login_name = #{loginName}
    </update>

    <update id="updatePassword">
        UPDATE admin
        SET
            gmt_modified = now()
            <if test="loginPass != null">
                , login_pass = #{loginPass}
            </if>
        WHERE 1 = 1
            and tenant_code = #{tenantCode}
            and login_name = #{loginName}
    </update>

    <delete id="delete">
        DELETE FROM admin
        WHERE 1 = 1
            <if test="tenantCode != null">
                AND tenant_code = #{tenantCode}
            </if>
            <if test="loginName != null">
                AND login_name = #{loginName}
            </if>
    </delete>
</mapper>